body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f5e9;
  color: #003300;
}

header {
  background: #2e7d32;
  padding: 15px;
  color: white;
  text-align: center;
}

nav a,
nav button {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav button {
  background: #81d4fa;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
}

.hero {
  text-align: center;
  padding: 30px;
}

.hero img {
  width: 60%;
  margin-top: 20px;
}

.container {
  padding: 20px;
}

.trilha-card,
.bio-card,
.evento-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border-left: 6px solid #66bb6a;
}

footer {
  text-align: center;
  background: #2e7d32;
  color: white;
  padding: 15px;
  margin-top: 30px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 15% auto;
  border-radius: 10px;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}
